<h2><%= link_to('Back to index', projects_path) %></h2>
<hr>

<h1><%= @project.title %></h1>
<hr>
<% if @project.image.present? %>
  <%= image_tag @project.image %>
<% end %>

by <i><%=link_to("#{@project.user.first_name} #{@project.user.last_name} (#{@project.user.email})","/users/#{@project.user.id}") %></i>
<p><%= @project.description %></p>
<p>Goal: <%= number_to_currency(@project.goal) %></p>
<p>Fundraising starts: <%= @project.start_date.strftime("%A %b %d %Y") %></p>
<p>Deadline: <%= @project.end_date.strftime("%A %b %d %Y") %></p>
<time class="project-days-left <%= ( @project.end_date < Time.now.utc ) ? 'past_deadline' : '' %> ">
  <%= icon('clock-o') %>
  <%= "#{time_ago_in_words(@project.end_date)} #{(@project.end_date > Time.now.utc ) ? 'remaining' : 'past deadline'}" %>
</time>
<br>
<br>
<%= form_for [@project, Pledge.new] do |f| %>
  <h2>Pledge an amount:</h2>
  <%= f.number_field :dollar_amount, value: @project.rewards.minimum(:dollar_amount), step: 0.01 %>
  <%= f.submit "Pledge" %>
<% end %>
<br>

<hr>
<h2>Pledges</h2>
<hr>
<% @project.pledges.each do |pledge| %>
<%best_reward = @project.pledges_to_rewards(pledge)%>
  <p><%=pledge.user.first_name%> <%=pledge.user.last_name%> <i>(<%=pledge.user.email%>)</i> pledged: <%= number_to_currency(pledge.dollar_amount) %> | claimed a reward of <%=best_reward.description%> : <%= number_to_currency(best_reward.dollar_amount) %> </p>
<% end %>
<br>

<hr>
<h2>Rewards</h2>
<hr>
<% @project.rewards.each do |reward| %>
    <% not_rewarded = reward %>
    <% best_reward = nil%>
    <% @project.pledges.each do |pledge| %>
        <%best_reward = @project.pledges_to_rewards(pledge)%>
        <% if best_reward == reward %>
            <p><%= reward.description %>: <%= number_to_currency(reward.dollar_amount) %> | claimed by: <%=pledge.user.first_name%> <%=pledge.user.last_name%> | <small><%= link_to "Remove reward", project_reward_path(@project, reward), method: 'delete' %></small></p>
            <%break%>
        <% end %>
    <% end %>
    <% if best_reward != reward %>
      <p><%= reward.description %>: <%= number_to_currency(reward.dollar_amount) %> | not claimed | <small><%= link_to "Remove reward", project_reward_path(@project, reward), method: 'delete' %></small></p>
    <% end %>
<% end %>

<br>
<%= link_to "Add new reward", new_project_reward_path(@project) %>
<br>

<hr>
<h2>New Review:</h2>

<% @project.comments.each do |comment| %>

  <p><%=comment.user.email %> : <%= comment.review %> | <%= link_to "edit", edit_project_comment_url(comment.project_id, comment)%> </p>
<% end %>

<%= render partial: "comments/form", locals: { project: @project, comment: @comment } %>
