<!DOCTYPE html>
<html>
  <head>
    <title>Crowdfunder</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%= stylesheet_link_tag    "https://fonts.googleapis.com/css?family=Josefin+Sans:700|Libre+Baskerville" %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <header class="site-header">
      <a href="<%=projects_path%>"> <h1 class="logo">Crowdfunder</h1></a>

      <nav class="site-nav">
        <% if current_user %>
            <% if current_user.admin %>
                <p>Logged in as admin: <%= link_to "#{current_user.first_name} #{current_user.last_name} (#{(current_user.email)})", user_path(current_user) %></p>
            <% else %>
                <p>Logged in as user: <%= link_to "#{current_user.first_name} #{current_user.last_name} (#{(current_user.email)})", user_path(current_user) %></p>
            <% end %>
        <%= link_to "Logout", :logout, method: :delete %>
        <% else %>
          <%= link_to "Register", new_user_path %> |
          <%= link_to "Login", :login %>
        <% end %>
        <br>
        <% flash.each do |key, message| %>
          <div class="flash-<%= key %>"><span class="error_message"><%= message %><span></div>
        <% end %>
      </nav>
    </header>



    <main>
      <%= yield %>
    </main>

    <footer class="site-footer">
      <hr>
      <small>A Bitmaker assignment by <span>Dan, Stephen & Constantine<span></small>
    </footer>
  </body>
</html>
